<table class = "table table-borderless" style="table-layout:fixed;">
			<tbody>
				<% users.each do |user| %>
				<tr>
					<td style="width:150px"><%= link_to user_user_path(user) do %>
						<%= attachment_image_tag user, :image,:fill, 60,60, format: "jpeg",fallback:"no_image.jpg",size:"60x60",class: "user_image" %>
						<%= user.name %>
						<% end %>
					</td>

					<td style="width:365px"><%= user.introduction %></td>

					<td style="padding-top: 1rem;"><% if current_user.id != user.id %>
	   						<% if current_user.following?(user) %>
								<%= button_to 'フォロー中',user_unfollow_path(user.id),method: :post,class:"border btn btn-light btn-sm",data: {confirm: "フォローを外しますか？"}  %>
							<% else %>
								<%= button_to 'フォローする',user_follow_path(user.id),method: :post,class:"btn btn-primary btn-sm" %>
							<% end %>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
</table>