<div class = "row">
	<div class="col-md-6">
		<%= form_for(@user, url:user_user_path,method: :patch) do |f| %>
		   <div class="form-row mb-4">
			    <div class="col">
			      <div class="custom-file">
			      <%= f.attachment_field :image,class: "custom-file-input" %>
			      <label class="custom-file-label" for="customFile">画像のアップロード</label>
			      </div>
			    </div>
		  </div>


		  <div class="form-row mb-4">
			    <div class="col">
			    	<%= f.label :"自己紹介" %>
			    	<%= f.text_field :introduction, class: "form-control" %>
			    </div>
		  </div>

		  <div class="form-row mb-4">
			    <div class="col">
			    	<%= f.label :"name" %>
			    	<%= f.text_field :name, class: "form-control" %>
			    </div>
		  </div>

		  <div class="actions" style="text-align: right;">
		   	 	<button type="submit" class="btn btn-secondary">投稿する</button>
		  </div>

		<% end %>




		<% @user.posts.each do |post| %>
		<div class="d-inline-block posts mb-3 mr-5">
			<%= link_to user_post_path(post) do %>
		    <div class = "sample3">
		    	<div class = "mask">
		    	  <div class ="caption">
		    	  	<strong>
		    	  		<i class="fa fa-heart m-1" style="color: #fff;"><%= post.favorites.count %></i>
		    			  <i class="fas fa-comment" style="color: #fff;"><%= post.comments.count %></i>
		      		</strong>
		      	</div>
		      </div>
				  <%= attachment_image_tag post, :image,:fill, 292,292, format: "jpeg" %>

		    </div>
			<% end %>
			<p class="mb-0 text-right mr-1" style="line-height: 1rem;">
				<small><strong><%= post.title %></strong></small>
			</p>
		</div>
	</div>
		<% end %>
	</div>
