<div class="row">
   <div class="col-md-3  m-4 user_profile border" style="height: 19rem;">
	   	<div  style="text-align: center;">
				<%= attachment_image_tag @user, :image,:fill, 70,70, format: "jpeg",fallback:"no_image.jpg",size:"70x70",class: "user_image" %>
			<br />
				<strong><%= @user.name %></strong>
			<br />
				<small><%= @user.introduction %></small>
		</div>
		<div class="mb-2" style="text-align: center;">
			<div class="d-flex align-items-start">
				<div class="p-2">
					<%= link_to new_user_post_path do %>
					  <div class="link_text">
						<small>投稿</small>
						<%= @user.posts.count %>
					</div>
					<% end %>
				</div>
				<div class="p-2">
					<%= link_to follows_user_user_path do %>
					<div class="link_text">
						<small>フォロー</small>
						<%= @user.follower.count %>
					</div>
					<% end %>
				</div>
				<div class="p-2">
					<%= link_to followers_user_user_path do %>
					<div class="link_text">
						<small>フォロワー</small>
						<%= @user.followed.count %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
		<div style="text-align: center">
				<% if current_user.id == @user.id %>
					<%= link_to "プロフィール編集",edit_user_user_path ,class:"btn btn-outline-secondary" %>
				<% end %>

				<% unless @user.id == current_user.id %>
					<div class="mb-2">
						<% if current_user.following?(@user) %>
							<%= button_to 'フォロー中',user_unfollow_path(@user.id),method: :post,class:"border btn btn-light btn-sm",data: {confirm: "フォローを外しますか？"}  %>
						<% else %>
							<%= button_to 'フォローする',user_follow_path(@user.id),method: :post,class:"btn btn-primary btn-sm" %>
						<% end %>
					</div>

					  <% if @isRoom == true %>
					    <%= link_to "DMへGo!", user_room_path(@roomId),class:"btn btn-outline-danger" %>
					  <% else %>
					    <%= form_for @room, url:user_rooms_path ,method: :post do |f| %>

					      <%= fields_for @entry do |e| %>
					        <%= e.hidden_field :user_id, :value=> @user.id %>
					      <% end %>
					      <%= f.submit "DMを始める",class:"btn btn-outline-danger" %>
					    <% end %>
					  <% end %>

				<% end %>
		</div>
	</div>



	<div class="col-md-8" style="padding-top: 2rem;">
		<%= render 'user/posts/posts',posts: @user.posts %>
	</div>
</div>
