<% posts.each do |post| %>
<div class="d-inline-block posts mb-3 mr-4">
	<%= link_to user_post_path(post) do %>
    <div class = "sample3">
    	<div class = "mask">
    	  <div class ="caption">
    	  	<strong>
    	  		<i class="fa fa-heart m-1" style="color: #fff;"><%= post.favorites.count %></i>
    			  <i class="fas fa-comment" style="color: #fff;"><%= post.comments.count %></i>
      		</strong>
      	</div>
      </div>
		  <%= attachment_image_tag post, :image,:fill, 292,292, format: "jpeg" %>


    </div>
	<% end %>
	<p class="mb-0 text-right mr-1" style="line-height: 1rem;">
		<small><strong><%= post.title %></strong></small>
	</p>
</div>

<% end %>

<style>
	.posts {
  position: relative;
}
.items:nth-child(4n) {
  margin-right: 0 !important;
}
.sample3 {
  overflow:   hidden;
  position: relative;
}
.sample3 .caption {
  font-size:    130%;
  color:      #fff;
  padding-top:    100px;
  padding-right:   100px;
}
.sample3 .mask {
  width:      100%;
  height:     100%;
  position:   absolute;
  top:      0;
  left:     0;
  opacity:    0;  /* マスクを表示しない */
  box-shadow: inset 0 0 2rem 1rem rgba(0, 0, 0, 0.5);
  background-color: rgba(0,0,0,.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition:   all 0.3s ease-in-out;
}
.posts:hover .mask {
  opacity:    1;  /* マスクを表示する */
  padding-left:   35%; /* 右にずらす */
}
</style>