<div class = "row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<h4>タイムライン</h4>
		<% @posts.each do |post| %>
		<table class="table table-borderless">
			<tbody class="card">
				<tr>
					<td><%= link_to user_user_path(post.user) do %>
							<%= attachment_image_tag post.user,:image,:fill, 60,60, format: "jpeg",fallback:"no_image.jpg",size:"60x60",class: "user_image" %>
							<%= post.user.name %>
						<% end %>
					</td>
				</tr>
				<tr>
				<td style="padding: 0;">
					<%= link_to user_post_path(post) do %>
						<%= attachment_image_tag post, :image,:fill, 500,600, format: "jpeg",fallback:"no_image.jpg",size:"600x600" %>
					<% end %>
				</td>
				</tr>
				<tr>
					<td>
						<% if post.favorited_by?(current_user) %>
						    <%= link_to user_post_favorites_path(post), method: :delete, remote: true do %>
							      <h4 class="fas fa-heart text-danger mb-0" aria-hidden="true"></h4>
							<% end %>
						<% else %>
						    <%= link_to user_post_favorites_path(post), method: :post, remote: true do %>
							      <h4 class="far fa-heart mb-0" aria-hidden="true"></h4>
							<% end %>
						<% end %>
					</td>
				</tr>
				<tr>
					<td><%= link_to post.title,user_post_path(post) %></td>
				</tr>
				<tr>
					<td style="text-align: right;border-top: solid;"><small><%= raw(post.tag_list.map { |t| link_to t, user_tag_path(t) }.join(', ')) %></small></td>
				</tr>
			</tbody>
		</table>
		<% end %>
	</div>

</div>

