
<%= attachment_image_tag @post, :image,:fill, 400,300, format: "jpeg",fallback:"no_image.jpg"%>

<br />
<strong><%= @post.title %></strong>

<br />
<%= @post.body%>

<br />
<%= link_to "destroy",user_post_path(@post),method: :delete %>

<%= link_to "edit",edit_user_post_path(@post) %>

<%= link_to "back",user_posts_path(@posts) %>



<div id = "comments_area">
	<%= render 'user/comments/index',post: @post,user: @user,comment: @comment %>
</div>
	<%= render 'user/comments/form',post: @post,comment: @comment %>