<div class = "row">
	<div class="col-xs-12">
		<%= form_tag(admin_users_path,:method => 'get') do %>
		  <div style="text-align: center;">
			  <%= text_field_tag :search %>
			  <%= submit_tag 'Search', :name => nil ,class:"btn btn-outline-success m-4" %>
		  </div>
		<% end %>
		<table class = "table table-striped">
			<thead>
				<tr>
					<th style="width:200px;">image</th>
					<th style="width:200px;">name</th>
					<th style="width:300px;">introduction</th>
					<th style="width:200px;">show</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
				<tr>
					<td><%= attachment_image_tag user, :image,:fill, 60,60, format: "jpeg",fallback:"no_image.jpg",size:"60x60"%></td>
					<td><%= user.name %></td>
					<td><%= user.introduction %></td>
					<td><%= link_to "show",admin_user_path(user) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>


