<div class="row">
  <div class="col-md-4"></div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

  <div class="card col-md-11" style="width: 350px; height: 600px; text-align: center;">

    <logo class="logo" style="padding-top: 15px;font-size: 40px;">stay home</logo>
      <strong><p style="opacity: 60%;">登録して友達の写真をチェックしよう</p></strong>

    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "email",:placeholder => "ユーザネーム",class: "m-1" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder => "メールアドレス" ,class: "m-1"%>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password",:placeholder => "パスワード（6文字以上）",class: "m-1" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password",:placeholder => "パスワード 確認" ,class: "m-1"%>
    </div>

    <div class="actions">
      <%= f.submit "登録する",class: "btn btn-primary w-50 m-2" %>
    </div>

  <% end %>

  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end %>

  <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %> <br/>

  <%= link_to "アカウントをお持ちの方はこちら", new_session_path(resource_name) %>
</div>

</div>
