<!DOCTYPE html>
<html>
  <head>
    <title>StayHome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if request.path.include?('admin') %>
        <%= render 'layouts/admin' %>
      <% else %>
        <%= render 'layouts/user' %>
      <% end %>
    </header>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
