<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>StayHome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset='UTF-8'>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600;800&family=Noto+Sans+JP:wght@100;300;400;500;700;800&family=M+PLUS+Rounded+1c:wght@900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header>

      <% if request.path.include?('admin') %>
        <%= render 'layouts/admin_header' %>
      <% else %>
        <%= render 'layouts/user_header' %>
      <% end %>
    </header>
    <div class="container mt-5 mb-auto">
      <div class="body_text">
    <%= yield %>
      </div>
    </div>

    <footer class="border-top mt-5">

        <% if request.path.include?('admin') %>
          <%= render 'layouts/admin_footer' %>
        <% else %>
          <%= render 'layouts/user_footer',post: @post,user: @user %>
        <% end %>

        <div class="jumbotron h-25" style="background-color: #fff">
          <div class= "text-center text-primary">
            <%= link_to "©stay_home",admin_session_path %>
          </div>
        </div>
      </footer>
  </body>
</html>


<style>

@media screen and (max-width:425px){
    header {
        width: 100%;
    }
    body {
      width: 100%;
    }
    .navbar {
      display:  none;
    }
}
</style>
