<!DOCTYPE html>
<html>
  <head>
    <title>StayHome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if request.path.include?('admin') %>
        <%= render 'layouts/admin_header' %>
      <% else %>
        <%= render 'layouts/user_header' %>
      <% end %>
    </header>
    <div class="container mt-5 mb-auto">
    <%= yield %>
    </div>

    <footer class="border-top mt-5">

        <% if request.path.include?('admin') %>
          <%= render 'layouts/admin_footer' %>
        <% else %>
          <%= render 'layouts/user_footer' %>
        <% end %>

        <div class="jumbotron　h-25" style="background-color: #fb5454">
          <div class="text-center text-white">©stay_home</div>
        </div>
      </footer>
  </body>
</html>

